name: docker

on:
  push:
    tags:
      - "*"

jobs:
  npm:
    uses: ./yarn.yml

  docker:
    needs: npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: downcase REPO
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
      - name: Build & Push
        env:
          REGISTRY: ghcr.io
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
          docker build --build-arg NODE_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }} --tag $REGISTRY/$REPO:${{ github.ref }} .
          docker image push $REGISTRY/$REPO:${{ github.ref }}
